<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- axios  -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<!-- 生产环境版本，优化了尺寸和速度
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
<!-- v-if 是“真正”的条件渲染，因为它会确保在切换过程中条件块内的事件监听器和子组件适当地被销毁和重建。
v-if 也是惰性的：如果在初始渲染时条件为假，则什么也不做——直到条件第一次变为真时，才会开始渲染条件块。
相比之下，v-show 就简单得多——不管初始条件是什么，元素总是会被渲染，并且只是简单地基于 CSS 进行切换。
一般来说，v-if 有更高的切换开销，
而 v-show 有更高的初始渲染开销。
因此，如果需要非常频繁地切换，
则使用 v-show 较好；如果在运行时条件很少改变，则使用 v-if 较好。 -->

<body>
    <!-- <input type="button" name="hah" id="aa" value="哈哈哈"> -->
    <div id="demo">
        <div>
            {{info.name}}
        </div>
        <div>
            {{info.url}}
        </div>

        <!-- 方法1 -->
        <!-- <ul>
            <li v-for="item in info">
                <div>名称：{{item.sites.name}}</div>
                <div>名称：{{item.name}}</div>
                <div>url：{{item.url}}</div>
                <input type="button" name="hah" id="aa" v-on:click="yiquandasi" value="哈哈哈">
                <input type="button" name="hah" id="aa" value="哈哈哈">
            </li>
        </ul> -->
        <!-- 方法2 -->
        <ul>
            <li v-for="links in info.sites">
                网站名：{{links.name}} 网站：{{links.url}} ---- {{links.chouchouchou}}
            </li>
        </ul>






        <div>名称：{{info.name}}</div>
        <div>url：{{info.url}}</div>
    </div>
</body>
<!-- <script>
    var a = document.getElementById("aa");
    a.onclick = function() {
        console.log(1);
    }
</script> -->
<script type="text/javascript">
    Vue.config.productionTip = false; //阻止 vue 在启动时生成生产提示。

    new Vue({
        el: "#demo",
        data() {
            return {
                info: {
                    name: '',
                    url: ''
                }
            }
        },
        methods: {
            yiquandasi: function() {
                console.log(this.item);
                console.log(this.info);
                console.log(this);
                console.log(arguments);
                console.log(this.info);
            }
        },
        mounted() {
            axios.get('abc.json')
                .then(response => this.info = response.data)
                .then(responsea => this.info = responsea.data.sites)
                // .then(response => console.log(response.data.sites[0].name))
                // .then(response => this.info = response.data.sites[0])
                // .then(response => this.info = response.data.sites[1])
                // .then(response => this.info = response.data.sites)
                // .then(console.log(arguments))
        },
    });
</script>

</html>